p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
  /* padding-right: 60px; */
}

pre .copy {
  float: right;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

pre code {
  white-space: pre-wrap;
}

pre code {
  background-color: transparent;
  white-space: pre-wrap;
  word-break: break-all;
  overflow-wrap: break-word;
}

h1 {
  color: red;
}
